
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: {{ .Values.common.namespace | quote }}
  labels:
    app.kubernetes.io/component: keycloak
    app.kubernetes.io/part-of: keycloak
spec:
  type: ClusterIP
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: http
  selector:
    app.kubernetes.io/component: keycloak
    app.kubernetes.io/part-of: keycloak
