:root body {
  --pf-v5-global--primary-color--100: #1A67A3;
  --pf-v5-global--primary-color--200: #1c77bd;
}

body {
  background-color: light-dark(#ebf3f7, #323232);
}

.pf-v5-c-brand {
  font-size: 2rem;
  font-weight: bold;
  color: light-dark(#1A67A3, #abdaff);
}
